<!-- FILL ME IN WITH CODE FOR YOUR PAGE LAYOUT -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Will Bray-Cotton's personal page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main/css/header.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='main/css/navbar.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='main/css/feedback.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='main/css/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='main/css/footer.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='main/css/chat.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='main/css/login.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='main/css/board.css') }}">

  <link rel="shortcut icon" href="{{ url_for('static', filename='main/images/favicon.ico') }}">
  {% block extracss %}{% endblock %}
  <script src="{{ url_for('static', filename='main/js/chat.js') }}" defer></script>
  <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
  <script src="{{ url_for('static', filename='main/js/board.js') }}" defer></script>
  {% block extrajs %}{% endblock %}
</head>


<body>
    <article>
    <!-- The header  -->

    <!-- The navigation bar -->
    <nav>
      <div class="asmt">
        <strong>
          {% if not user %}  
          <h1>Welcome, Please Login!</h1>
          {% else %}
          <h1>Logged in as {{ user }} </h1>
          {% endif %}
        </strong>
      </div>
      <div class="links">
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('chat') }}">Chat</a>
        {% if not user %}  
          <a href="{{ url_for('login') }}">Login</a>
        {% else %}
          <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
      </div>
      <div class="mobile">
        <span class="menu" id="menu">&#9776;</span>
        <div class="mob-links">
          <a href="{{ url_for('home') }}">Home</a>
          {% if not user %}  
            <a href="{{ url_for('login') }}">Login</a>
          {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
          {% endif %}
        </div>
      </div>
    </nav>

    <!-- The main content  -->
    <main>
      {% block maincontent %}{% endblock %}
    </main>
    <!-- The footer of the file -->
    <footer>
      <p>© Will Bray-Cotton 2024</p>
    </footer>
  
</body>

</html>